/* Estilo del contenedor principal */
.login-container {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  ); /* Fondo degradado */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  width: 300px;
  height: 400px;
  margin-top: 50px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para los inputs */
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  background: white;
  border: none;
  border-radius: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

/* Estilo para el botón */
button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 12px 0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
}

/* Hover y estado desactivado del botón */
button:hover {
  opacity: 0.8;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Estilo para el checkbox y etiqueta */
input[type="checkbox"] {
  margin-right: 10px;
}

label {
  color: white;
  font-size: 14px;
}
