.App {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  min-height: 100vh;
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #282c34;
  color: white;
  max-height: 15px;
}

.App-logo {
  flex: 1;
  text-align: left;
}

.logout-button {
  background: none;
  border: none;
  cursor: pointer;
  filter: invert(1);
  text-align: end;
}

.logout-icon {
  width: 40px;
  height: auto;
}
